
/*
  VIDEO TAG & OVERLAYS
*/

html, body {
    overflow:hidden;
}

#videoContainer {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#videoContainer video {
    position:absolute;
    top:0;
    z-index:0;
    background:black;
    width:100%;
    height:100%;
    text-align: center;
}

#videoContainer #startBtn {
    position:absolute;
    width:100%;
    height:100%;
    background:url("../img/videoplayer/startPlayer.png") no-repeat center 40%;
    z-index:2;
}

#videoContainer .loader {
    position:absolute;
    width:100%;
    height:100%;
    background:url("../img/videoplayer/loader.gif") no-repeat center;
    background-size:20%;
    z-index:2;
    pointer-events:none;
    display:none;
}

#videoContainer #bgTarget {
	position:absolute;
	height: 90%;
	width: 100%;
	z-index: 1;
	opacity:.5;

    display:none;
}

/*
  CUSTOM VIDEO CONTROLS
*/

#videoContainer #videoControls {
	position:absolute;
	top:90%;
	width:100%;
    left: 1%;
    display:none;
	z-index:2;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#videoContainer #videoControls #prodWrapper {
	position:relative;
	margin:0 auto;
	width:97.7%;
	display: table;
}

#videoContainer #videoControls #play {
	width:7.386364%;
	height:40px;
    background:#282828 no-repeat;
    background-image:url("../img/videoplayer/play.png");
    background-position:center;

}

#videoContainer #videoControls .paused {
    background-image:url("../img/videoplayer/pause.png") !important;
}

#videoContainer #videoControls .activeState {
    background:#e21a2c !important;
}
#videoContainer #videoControls div.vidButtons {
	vertical-align:middle;
	display:inline-block;
	position:relative;
	background-repeat:no-repeat;
	overflow:hidden;
	float:left;
	margin:0;
	height:40px;
    border-radius:6px;
    background:#282828 no-repeat;
}

/*
  SEEK BAR
*/

#videoContainer #videoControls #seekContainer {
    background:#282828;
    border-radius:6px;
    height:40px;
	width:79.2222%;
	display:table;
	overflow:visible;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    margin-left: 2px;
}
#videoContainer #videoControls .seekWrapper {
    position:absolute;
    top:40%;
    width:93.222%;
    height:100%;
}

#videoContainer #videoControls .seekTarget {
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    opacity:.4;
}

#videoContainer #videoControls .seekbar {
    border-radius: 2px;
    height: 6px;

}

#videoContainer #seekBar {
    position:absolute;
    top: 5%;
    left:3%;
    background-color:black;
    width:100%;
    vertical-align:middle;
    display:table-cell;
}
#videoContainer #videoControls #progress {
    position:absolute;
    background:#e21a2c;
    width:0%;
    pointer-events: none;
}
#videoContainer #videoControls #bufferBar {
    position:absolute;
    background:gray;
    width:0%;
    pointer-events: none;
}

/*
  TIME DISPLAY
*/

#videoContainer #timeDisplay {
    font:1.25em verdana;
    color:gray;
    position:relative;
    float:right;
    margin-right:2%;
    margin-top:1%;
    height: 33px !important;
    padding-top: 7px;
    border-top-left-radius:0 !important;
    border-bottom-left-radius:0 !important;
    padding-right: 1%;
}
#videoContainer #timeDisplay div {
    float:left;

}
#videoContainer #timeDisplay #now {
    color:white;
}
#videoContainer #timeDisplay #total:before {
    content:" /"
}

/*
 AUDIO & FULLSCREEN BUTTONS (DISABLED DUE TO LACK OF MOBILE SUPPORT!)
*/

#videoContainer #videoControls #fullscreen {
	background:url("../img/audiofull.png") no-repeat 0 center;
	width:3.97727272727%;
	background-size:400%;
}

#videoContainer #videoControls #audio {
	background:url("../img/audiofull.png")  no-repeat 67% center;
	width:3.97727272727%;
	background-size:400%;
}

/*
  CUEPOINTS
*/

#videoContainer #cuePointMain {
}

#videoContainer .cuePointContainer {
	position:absolute;
	top:-226px
}
#videoContainer .cuePointMarker {
	position:absolute;
	width:18px;
	height:18px;
	top:239px;
    background: url("../img/videoplayer/video_sprite.png") no-repeat center;
    background-position: 42%;
    background-size:700%;
}
#videoContainer .cueProductContainer {
	left:-57px;
	display:inline-block;
	position:absolute;
	display:none;
    height:225px;
    -webkit-transition:left .3s ease-out;
}

#videoContainer .cueProductContainer:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}


#videoContainer .cueProduct {
	width: 130px;
	height: 225px;
	background: white;
  /*  -webkit-box-shadow: 1px 0 0 0 rgba(0, 0, 0, .4);*/
	position: absolute;
	-webkit-transition:all .3s ease-out;
	transition-property:left, top, transform;
	overflow:hidden;
    border-radius: 7px;
}
#videoContainer .cueExpanded {
    border-radius: 0;
    /*-webkit-box-shadow:-1px -1px 1px  rgba(0, 0, 0, .4);
    box-shadow:-1px -1px 1px  rgba(0, 0, 0, .4);  */
}
#videoContainer .cueExpanded:last-child {
    /*-webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .4);*/
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
#videoContainer .cueExpanded:nth-child(2) {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    /*-webkit-box-shadow:1px -1px 1px  rgba(0, 0, 0, .4);
    box-shadow:-1px 1px 1px  rgba(0, 0, 0, .4);*/
}

#videoContainer .cueProductLeft .cueExpanded {
    border-radius: 0;
    /*-webkit-box-shadow:-1px -1px 1px  rgba(0, 0, 0, .4);
    box-shadow:-1px -1px 1px  rgba(0, 0, 0, .4);  */
}
#videoContainer .cueProductLeft .cueExpanded:last-child {
    /*-webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .4);*/
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
#videoContainer .cueProductLeft .cueExpanded:nth-child(2) {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    /*-webkit-box-shadow:1px -1px 1px  rgba(0, 0, 0, .4);
    box-shadow:-1px 1px 1px  rgba(0, 0, 0, .4);*/
}


#videoContainer  .cueProduct .prodWrapper {
	margin:4px;
}
#videoContainer .cueProduct .prodImg {

	width:120px;
	height:180px;
}
#videoContainer .cueProduct .shopButton {
	width: 120px;
	height: 26px;
	margin-top: 4px;
	background-color: #e11a2b;
	border-radius: 5px;
	font: 13px "Avenir";
	color: white;
	text-align: center;
	vertical-align: middle;
	padding-top: 6px;
}
#videoContainer .cueProduct .shopButton:after {
	content:"shop now";
}
#videoContainer .cueTarget {
    position:absolute;
	height:230px;

}



#videoContainer .cueActive {
    background: url("../img/videoplayer/video_sprite.png") no-repeat center;
    background-position: 60%;
}