<html>
	<head>
		<title>Shopable Video Player</title>

		<script type="text/javascript" src="js/lib/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/lib/underscore-min.js"></script>
		<script type="text/javascript" src="js/lib/backbone-min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/lib/handlebars.js"></script>
		<script type="text/javascript" src="js/lib/Class.js"></script>

		<script type="text/javascript" src="js/app.js"></script>

		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />

	</head>
	<body>
		<div id="wrapper">
			<h1>Shopable Video Player</h1>

			<div id="videoContainer">
				<div id="bgTarget"></div>
				<div id="startBtn"></div>
				<div class="loader"></div>
				<div id="videoControls">
					<div class="videoWrapper">
						<div id="play" class="vidButtons">

						</div>
						<div id="seekContainer" class="vidButtons">
							<div class="seekWrapper">

								<div id="seekBar" class="seekbar">
									<div id="bufferBar" class="seekbar"></div>
									<div id="progress" class="seekbar"></div>

								</div>

							</div>
							<div class="seekTarget"></div>
						</div>
						<div id="timeDisplay" class="vidButtons">
							<div id="now">
								0:40
							</div>
							<div id="total">
								12:40
							</div>
						</div>
						<div id="cuePointMain">

						</div>
						<!-- <div id="audio" class="vidButtons">
						</div>
						<div id="fullscreen" class="vidButtons">   -->
					</div>
				</div>
			</div>
		</div>
		</div>

        <div class="cueProduct" >
            <div class="wrapper">
                <div class="imgContainer" style="background-image:url({{imgPath}});"></div>
                <div class="shopButton" data-Id="{{dataId}}"></div></div>
        </div>
    <div class="cuePointContainer"></div>
    </body>
	<script>


	 /*

     for (var i in a) {

     // cuepoint marker
     cp = document.createElement("div");
     cp.className = "cuePointMarker";
     cp.setAttribute("data-key", i);
     cp.setAttribute("data-timecode", a[i].timecode);
     cp.onclick = function() {
     self.currentCue = this.getAttribute("data-key");
     self.setTime(this.getAttribute("data-timecode"));
     }
     cpc = document.createElement("div");
     cpc.className = "cuePointContainer";
     cpc.appendChild(cp);

     document.getElementById("seekContainer").appendChild(cpc);

     cx = ($("#seekBar").width() * a[i].timecode / this.videoDuration);
     cpc.setAttribute("style", "left:" + Math.round(cx) + "px");
     pdc = document.createElement("div");
     pdc.setAttribute("class", "cueProductContainer");
     pdc.setAttribute("id", "cueProductContainer" + i);

     var pdHTML = '<div class="wrapper"><div class="imgContainer"></div><div class="shopButton"></div></div>';

     ct = document.createElement("div");
     ct.className = "cueTarget";
     ct.setAttribute("data-key", i);
     ct.setAttribute("id", "cueTarget" + i);
     ct.onclick = function() {
     console.log(this, "click");
     self.currentCue = this.getAttribute("data-key");
     self.expandProducts(self.currentCue, "ctCLick");

     };
     pdc.appendChild(ct);
     cpc.appendChild(pdc);

     // products !! template HANDLEBARS
     ap = a[i].products.split(",");
     for (var j in ap) {
     console.log("products", ap[j]);
     pd = document.createElement("div");
     pd.setAttribute("class", "cueProduct");
     pd.innerHTML = (pdHTML);
     pdc.appendChild(pd);

     }


     */
		window.onload = function() {
			var data = {};
			data.videoURL = "http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4";
			data.cuePoints = [{
				"timecode" : 10.5,
				"products" : "1, 12, 14"
			}, {
				"timecode" : 20.5,
				"products" : "12, 1, 14"
			}, {
				"timecode" : 30.5,
				"products" : "14, 1, 12"
			}, {
                "timecode" : 50.5,
                "products" : "12, 14, 1"
            }];

			data.productPool = [{
				"productId" : 1,
				"image" : "http://24.media.tumblr.com/tumblr_lns96lWOBl1qj7j83o1_400.jpg",
				"price" : "40",
				"desc" : "blah blah",
				"name" : "jacket"
			}, {
                "productId" : 12,
                "image" : "http://www.cartoonscrapbook.com/01pics-L/silverhawks_L43.jpg",
                "price" : "50",
                "desc" : "blah blah",
                "name" : "jacket"
            }, {
                "productId" : 14,
                "image" : "http://fc09.deviantart.net/fs42/i/2009/106/3/5/Lion_o_THUNDERCATS_by_Thuddleston.jpg",
                "price" : "50",
                "desc" : "blah blah",
                "name" : "jacket"
            }];
//                                                  /
			var self = this;
			var shopable = true;
			var params = {
				container : "videoContainer"
			}

			var videoPlayer = new ShopableVideoPlayer(params);
			videoPlayer.setData(data);
		}
	</script>
</html>